@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
}

.purple {
    color: #6415FF;
}

.just {
    text-align: center;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}
p {
    font-size: 16px;
    line-height: 2;
}

input {
    border: none;
}

button {
    background-color: #6415FF;
    color: #f7fafc;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 9999px;
    padding: 16px 32px;
    margin: 0;
}

header {
    margin-bottom: 240px;
}
.header__container {
    display: flex;
}

.section__title {
    text-align: center;
    font-weight: 600;
}

/* LANDING */

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

}

.nav {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0 80px 0;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    padding-right: 56px;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    margin: 24px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

/* HEADER */

.btn__sign-up {
    background-color: rgb(100 21 255);
    color: white;
    border: none;
    padding: 12px 36px;
    border-radius: 9999px;
    font-size: 14px;
}

.header__description {
    display: flex;
    max-width: 45%;
    flex-direction: column;
    justify-content: center;

}

.header__para {
    font-size: 18px;
    padding: 32px 0 32px 0;
    
}

.header__img {
    width: 100%;
}

.email__wrapper {
    display: flex;
    width: 100%;
    max-width: 90%;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    justify-content: flex-end;
    padding: 4px;
}

.email__input {
    margin-right: 96px;
}

.email__btn {

}

.cust {
    font-size: 12px;
    font-weight: 500;
    color: #a0aec0;
    padding: 80px 0 16px 0;
}

.cust__img {
    width: 95%;
    opacity: 60%;
}

/* FEATURES */

.features__container {
    padding: 80px 0;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__sub {
    font-weight: 700;
}

.features__desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.features__para {
    max-width: 55%;
    padding: 32px 0 32px 0;
}

/* SERVICES */

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 0 64px 0 64px;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 0 40px 40px 40px;
}

.service__title {
    padding-bottom: 24px;
}
.service__img {
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    padding: 16px;
}

.service__desc {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 24px;
}

.service__para {
    padding: 16px 0 0 0;
}

/* WORK */

#work {
    padding: 64px 0 128px 0;
}

.work__title {
    font-weight: 600;
}
.work__wrapper {
    display: flex;
}

.work__subtitle {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 40px;
}

.work__description {
    width: 50%;
}

.work__desc-para {
    padding-bottom: 40px;
}

.img__wrapper {
    width: 50%;
}

.work__img {
    width: 100%;
    padding-left: 32px;
}

/* STEPS */

.steps__container {
    display: flex;
}

.steps__img-wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.steps__desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

.steps__wrapper {
    
}

.step {
    display: flex;
    padding-bottom: 32px;
}

.step__number {
    display: flex;
    font-size: 36px;
    color: #cbd5e0;
}

.step__title {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
}

.step__subtitle {
    padding-bottom: 16px;
}

.step__desc {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
}

/* VALUES */

.value__container {
    display: flex;
    align-items: center;
    margin: 64px 32px 64px 32px;
}

.values__desc {

    flex-direction: column;
    min-width: 50%;
    width: 50%;
}

.value__img-wrapper {
    width: 50%%;
}

.value__img {
    width: 100%;
}

.value__sub-img {
    display: flex;
    padding: 16px 0 16px 0;
}

.values__desc-sub {
    display: flex;
    padding: 0 0 32px 0;
}
.values__sub {
    display: flex;
    flex-wrap: wrap;
}

.value__sub-para {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100%/2);
}

.value__img-para {
    padding-left: 16px;
}

.prof {
    color: rgb(155 44 44);
    background-color: #feb2b2;
    border-radius: 9999px;
    border: none 32px;
    padding: 16px;
}

.affo {
    color: rgb(39 103 73);
    background-color: #9ae6b4;
    border-radius: 9999px;
    border: none 32px;
    padding: 16px;
}

/* PRICING */

.plans__wrapper-para {
    display: flex;
    flex-direction: column;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    align-items: center;
    border: 1px ;
}

.top__bar {
    background-color:rgb(129, 230, 217);
    height: 8px;
    width: 100%;
    border-top-right-radius: 999px;
    border-top-left-radius: 999px;
    border: 0px;
}

.top {
    width: 100%;
    border-bottom: 1px solid;
    text-align: center;
}

.business {
    background-color: rgb(102, 126, 234);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);;
}
